<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form method="post" action="/boardgame/page/" th:object="${boardGameEntity}">
    <h1>Создать игру</h1><br>

      <p>Название игры</p>
      <input type="text" th:field="*{name}"><br>
      <p>первое место</p>
      <input type="number" th:field="*{firstPlace}"><br>
      <p>Второе место</p>
      <input type="number" th:field="*{secondPlace}"><br>
      <p>Третье место</p>
      <input type="number" th:field="*{thirdPlace}"><br>
      <p>Описание игры</p>
      <input type="text" th:field="*{info}">
      <input type="submit" value="Create!">
  </form>
</body>
</html>